@CHARSET "UTF-8";
/* 페이지 초기화 */
* {
	margin: 0;
	paddng: 0;
	vertical-align: middle;
}
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: "Gulim", Arial, Serif;
	color: #666;
	background-color: #FFF;
	background-image: url(../images/body_back.gif);
	background-repeat: repeat-x;
	background-position: top;
}
#wrap {
	width: 980px;
	margin: 0 auto;	
}
.clear {
	clear: both;
}

/* 링크 설정 */
a:link {
	text-decoration: none;
	color: #333;
}
 a:visited {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: underline;	
	color: red;	
}
a:active {
	text-decoration: none;
	color: blue;
}

/* header */
header { margin-top: 20px; }
header img { border: none; }
header #logo {
	margin-left: 10px;
	float: left;
}
header #header_link {
	float: right;
	margin-right: 10px;	
}
header #header_link ul { 	list-style: none; }
header #header_link li {
	float: left;
	padding: 0 8px;
	font-size: 0.75em;
	border-right: 1px solid #999;
}
header #header_link ul li.no_line { border-right: none; }
header #search {
	margin: 0 10px 0 0;
	padding: 0;
	float: right;
	margin-top: 20px;
}
header #search .main_keyword {
	width: 260px;
	height: 22px;
	border: 3px solid #336699;
	padding: 0 5px;
}
header #search select {	height: 28px; }
header #search .search_btn {
	border: 1px solid #369;
	background-color: #369;
	color: #FFF;
	width: 55px;
	height: 28px;
	margin-left: 2px; 
}

/* nav */
aside {
	float: left;
	width: 205px;	
}
nav {	
	margin: 25px 0 0 10px;
	font-size: 0.8em;	
}
nav ul { list-style: none; list-style-position: outside; }
nav ul li { padding: 5px 10px; text-indent: -30px; }
nav ul li a { display: block; }
nav ul li h3 {
	border: 1px solid #CCC;
	border-radius: 20px;
	padding: 5px 50px;
	font-size: 14px;
	background-color: #E5E5E5;
	background-image: url(../images/nav_back.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
nav ul li ul { margin : 10px 0 0 0; }
nav ul li ul li {
	padding: 0 0 0 20px;
	line-height: 2em;
}

/* article */
article {
	width: 760px;
	float: right;
	margin: 25px 0 0 5px;	
}
article .category_main { height: 180px; }
article .category_best { height: 180px; }
article .category_list { height: 180px; }

/* footer */
footer {
	font-size: 0.75em;
	margin: 10px 0 0 0;
	background-image: url(../images/foot_back.gif);
	background-repeat: repeat-x;
	background-position: top;	
}
footer ul {
	list-style: none;
	margin: 0 0 0 150px;	
}
footer ul li {
	float: left;
	font-family: 'Gulim', Serif;
	background-image: url(../images/foot_line.gif);
	background-repeat: no-repeat;
	background-position: right center;	
}
footer ul li.no_line { background-image: none; }
footer ul li a {
	font-size: 1em;
	display: block;
	padding: 5px 15px;
}
footer img {
	margin: 10px 0 0 40px;		
	width: 150px;
	border: none;
	float: left;		
}
footer #foot_info {	
	margin: 10px 0 0 25px;
	padding: 0 0 20px 0;
	line-height: 1.5em;
	float: left;
}


